{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var statusField = document.querySelector("[name='current_status']");
                var experienceField = document.querySelector("[name='experience_years']").closest("p");
        
                function toggleExperienceField() {
                    if (statusField.value === "experienced") {
                        experienceField.style.display = "block";
                        document.querySelector("[name='experience_years']").required = true;
                    } else {
                        experienceField.style.display = "none";
                        document.querySelector("[name='experience_years']").required = false;
                    }
                }
        
                statusField.addEventListener("change", toggleExperienceField);
                toggleExperienceField();
            });
        </script>
        

        <button type="submit" class="btn">Register</button>
    </form>
</div>
{% endblock %}
