{% extends "base.html" %}
{% block content %}



  

    <!-- Notification Section -->
    <header class="bg-light py-5">
        <div class="container text-center">
            <h1 class="display-4">Careers</h1>
            <p class="lead text-muted">We appreciate your interest in joining JobDhundo!</p>
        </div>
    </header>

    <!-- Main Message -->
    <section class="py-5">
        <div class="container text-center">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Currently, we are not hiring!</h4>
                <p>Thank you for considering JobDhundo for your career. At the moment, we do not have any open positions. Please check back in the future for new opportunities or follow us on our social media channels for updates.</p>
                <hr>
                <p class="mb-0">If you have any questions, feel free to contact us at <a href="mailto:careers@jobdhundo.com">careers@jobdhundo.com</a>.</p>
            </div>
        </div>
    </section>

 



 


    
{% endblock content %}
    